body, h1 {
    margin: 0;
}

header {
    float: left;
    position: fixed;
    background: #888;
    min-height: 100%;
    width: 20em;
    text-align: center;
}

    header .logo {
        width: 100%;
        padding-top: 1.5em;
    }

    header .logo img {
        width: 160px;
        height: 160px;
        border-radius: 50%
    }

#center-wrapper {
    margin-left: 17em;
}

    #center-wrapper #center {
        max-width: 50em;
        margin-left: 5em;
        margin-right: auto;
        padding: 1em 1.5em;
    }

    #center-wrapper #center #content {
        padding: 2em 0;
    }