body, h1, h2, h3 {
    margin: 0;
    font-family: "Open sans", sans-serif;
}

h1, h2, h3 {
    font-weight: 300;    
}

header {
    float: left;
    position: fixed;
    background: #2d2d2d;
    min-height: 100%;
    width: 20em;
    color: #aaa;
    text-align: center;
}

    header a {
        color: #eee;
        text-decoration: none;
    }

    header a:hover {
        color: #009c7b;
        text-decoration: none;
    }

    header h1 {
        font-size: 3em;
        line-height: 1.1em;
    }

    header h3 {
        padding: 1em;
    }

    header .logo {
        width: 100%;
        padding-top: 3em;
        text-align: center;
    }

    header .logo img {
        width: 160px;
        height: 160px;
        border-radius: 50%
    }

    header .info, header nav {
        margin: 1.5em 1.5em 1.5em 1.5em;
    }

    header nav {
        margin: 2em;
        font-size: 1.5em;
        font-weight: 100;
    }

        header nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;            
        }

    header ul.social {
        text-align: center;
        padding: 0;
    }

        header ul.social li{
            display: inline-block;
            font-size: 2em;
            padding: 0.5em 0.6em 0.5em 0.6em;
        }

#center-wrapper {
    margin-left: 20em;
    overflow-x: hidden;
}

    #center-wrapper a {
        color: #009c7b;
    }
   
    #center-wrapper h1 a {
        text-decoration: none;
        font-size: 1.5em;
        color: #2d2d2d;
    }

    #center-wrapper h1 a:hover {
        text-decoration: none;
        font-size: 1.5em;
        color: #009c7b;
    }

    #center-wrapper #center {
        max-width: 40em;
        margin-left: 2em;
        margin-right: auto;
        padding: 1em 1.5em;
    }

    #center-wrapper #center #content {
        padding: 2em 0;
    }

.index article:not(:first-child) {
    border-top: 1px solid #aaa;
    padding-top: 2em;
}

.index article:not(:last-child) {
    padding-bottom: 2em;
}

article * {
    max-width: 100%;
}

article blockquote {
    border-left: 0.2em solid #009c7b;
    padding: 0 1em;
    margin: 1.3em;
}

article .article-meta {
    padding-top: 1em;
}

article .date,
article .meta,
article .tags {
    padding-right: 0.8em;
}

.article-meta .date:before,
.article-meta .tags:before,
.article-meta .edit:before {
    font: 1em FontAwesome;
}

.article-meta .date:before {
    content: "\f073";
    padding-right: 0.5em;
}

.article-meta .tags:before {
    content: "\f02c";
}

.article-meta .edit:before {
    content: "\f044";
}

.article-meta .edit a {
    text-decoration: none;
}

.tag-list {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

    .tag-list li {
        float: left;
        line-height: 2em;
    }

    .tags a,
    .tag-list li a {
        text-decoration: none;
        background: #eee;
        border-radius: 3px;
        margin: 0.2em;
        padding: 0.1em 0.3em;
    }

    .tags a:last-child {
        margin-right: 0;    
    } 

.tag-power {
    vertical-align: super;
    font-size: 0.8em;
    color: #009c7b;
    padding: 0.2em;
}

#page-navigation {
    padding: 1em;
    position: relative;
}

    #page-navigation .prev,
    #page-navigation .next { 
        position: absolute;
    }

    #page-navigation .prev {
        padding-left: 2em;
        left: 0;
    }

    #page-navigation .prev:before {
        content: "\f060";
        font: 1.3em FontAwesome;
        position: absolute;
        left: 0;
    }

    #page-navigation .next {
        padding-right: 2em;
        right: 0;
    }

    #page-navigation .next:before {
        content: "\f061";
        font: 1.3em FontAwesome;
        position: absolute;
        right: 0;
    }

    #page-navigation .page-number {
        text-align: center;
    }

footer {
    border-top: 1px solid #aaa;
    padding-top: 0.5em;
    font-size: 0.8em;
    text-align: center;
}

    footer p {
        margin: 0.5em 0;
    }

@media screen and (max-width: 70em){

    #center-wrapper #center {
        padding: 0;
    }
}

@media screen and (max-width: 60em){

    header{
        width: 100%;
        float: none;
        position: static;
        min-height: auto;
    }
        header nav {
            margin: 0;
        }

        header nav li{
            display: inline-block;
            padding: 0 0.5em;
        }

        header ul.social {
            margin: 0;
            padding:2em 0 2em 0;
        }

    #center-wrapper {
        margin-left: 0;
        margin-right: 0;
    }

        #center-wrapper #center {
            padding: 0 1em;
            margin-left: 0;
            margin-right: 0;
            max-width: inherit;
        }
}