---
layout: default
---

<div class="index" itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
{% assign post_date = post.date %}
{% assign post_tags = post.tags %}
{% assign post_title = post.title %}
{% assign post_url = post.url %}
{% assign post_content = post.content %}
    <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        {% include article.html %}
    </article>
{% endfor %}
</div>

<nav id="page-navigation">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="prev">Previous</a>
    {% endif %}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}

        <div class="page-number">
            Page {{paginator.page}} of {{paginator.total_pages}}
        </div>
</nav>