<h1 itemprop="name">
    <a href="{{ post.url }}" itemprop="url">
        {{ post_title | xml_escape }}
    </a>
</h1>
<div class="article-meta">
    <span class="date">{{ post_date | date_to_string }}</span>
    <span class="tags">
        {% for tag in post_tags %}
        <a href="/tags/#{{ tag }}">{{ tag }}</a>    
        {% endfor %}
    </span>
    <span class="edit">
        <a href="{{ site.github-repo-url }}/edit/master/{{ post_path }}">Edit</a>
    </span>
</div>
<div class="article-content" itemprop="articleBody">
    {{ post_content }}
</div>