<!DOCTYPE html>
<html>
    <head>
        {% if site.enforce-ssl %}
        <script type="text/javascript">
            if (window.location.host == "{{ site.url }}" && window.location.protocol != "https:")
                window.location = window.location.toString().replace(/^http:/, "https:");
        </script>
        {% endif %}

        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css" />
        <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed for {{ site.title }}">

        {% include google-analytics.html %}
    </head>

    <body>
        <div id="container">

            <header>

                <div class="logo">
                    <a href="/">
                        <img src="https://secure.gravatar.com/avatar/{{ site.gravatar-hash }}?size=160" />
                    </a>
                </div>

                <div class="info">
                    <h1><a href="/">{{ site.author }}</a></h1>
                    <h3>{{ site.description }}</h3>
                </div>

                <nav>
                    <ul class="navigation">
                        <li>
                            <a href="/about">about</a>
                        </li>
                        <li>
                            <a href="/archive">archive</a>
                        </li>
                        <li>
                            <a href="/tags">tags</a>
                        </li>
                    </ul>
                </nav>

                <ul class="social">
                    <li>
                        <a href="https://stackexchange.com/users/{{ site.stackexchange-id }}?tab=accounts">
                            <i class="fa fa-stack-exchange"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/{{ site.github-username }}">
                            <i class="fa fa-github-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/atom.xml">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                </ul>

            </header>

            <div id="center-wrapper">
                <div id="center">

                    <div id="content">
                        {{ content }}
                    </div>
                    
                    <footer>
                        <p>&copy; {{ site.time | date: "%Y" }} Vladimir Almaev</p>
                    </footer>

                </div>
            </div>

        </div>
    </body>
</html>