<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ site.title }}</title>
		<link href="css/main.css" rel="stylesheet" />
	</head>

	<body>
		<div id="container">

			<header>
				<h1><a href="/">{{ site.author }}</a></h1>
				<h3>{{ site.description }}</h3>
				<ul class="social">
					<li>
						<a class="github" href="https://github.com/{{ site.github-username }}">
							github
						</a>
					</li>
					<li>
						<a class="stackoverflow" href="https://stackoverflow.com/users/{{ site.stackoverflow-id }}">
							stackoverflow
						</a>
					</li>
				</ul>
			</header>

			<div id="center-wrapper">
				<div id="content">
					{{ content }}
				</div>
			</div>

		</div>
	</body>
</html>